.city-card-wrapper {
    .ant-card {
        margin: 1%;
        border-radius: @sty-border-radius-small;
        background: #F759AB;
        border: 1px solid #F759AB;
        height: auto;
    }
    .ant-collapse {
        border: none;
    }
    
}