.city-card-wrapper {
    flex: none;
    order: 2;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0px 0px;
    padding: 1%;

    .closeCard { 
        background-color:  #F759AB;
        border-radius: @sty-border-radius-small;
        width: auto;
        height: 3rem;
        padding: 1rem;
        overflow: hidden;
    }

    .openCard {
        background-color:  #F759AB;
        border-radius: @sty-border-radius-small;
        width: auto;
        height: 10rem;
        padding: 1rem;
        overflow: hidden;
    }

    .card-header-container{
        display: flex;
        justify-content: space-between;
    }

    .card-icons :hover {
        cursor: pointer;
    }

    .ant-card {
        margin: 1%;
        border-radius: @sty-border-radius-small;
        background: #F759AB;
        border: 1px solid #F759AB;
        height: auto;
    }
    .ant-collapse {
        border: none;
    }
    
}