.navbar-container {

    :hover {
        cursor: pointer;
    }



}

.logo{
        
    &:hover {
        cursor: pointer;
    }
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    border-bottom: 2px solid @c-bg-dark;

}